<nav class="bg mb-0 d-flex align-items-center justify-content-between px-4 fixed-top" >
    <div class="d-flex align-items-center text-white">
        <!-- <img src="assets/img/siuuu.png" alt="" style="width: 50px; height: 50px;"> -->
        <span class="h5 mb-0"> Ayam </span>
    </div>
    <ul class="d-flex gap-4 m-0 py-2 list-unstyled me-4">
        <li><a href="index.php" class="text-white text-decoration-none">Beranda</a></li>
        <li><a href="index.php" class="text-white text-decoration-none">Daftar Paket</a></li>
        <li><a href="index.php" class="text-white text-decoration-none">Modifikasi</a></li>
        <li><a href="index.php" class="text-white text-decoration-none">Kontak</a></li>
        <button class="btn bg-light text-dark">login</button>
    </ul>
</nav>
